.container {
  display: flex;
  height: 100vh;
  overflow: hidden;
  padding-left: 8rem;
}

.sidebar {
  flex: 0 0 200px;
  position: sticky;
  top: 0;
  height: 100vh;
  background-color: white;
  z-index: 10;
  padding: 2rem 1rem;
  left: 5rem;
}

.scrollArea {
  flex: 1;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  height: 100vh;
}

.section {
  height: 100vh;
  scroll-snap-align: start;
  padding: 2rem 6rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 2rem;

}
